.round-stepper {
    width: 100%;
    max-width: 80vw;
    display: flex;
    margin-bottom: 25px;
    overflow: auto;
}

.back-line {
    width: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
}

.back-line:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 4px solid #ffffff;
    background: #ffffff;
    width: 100%;
    z-index: 1;
}

.round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    z-index: 2;
    cursor: pointer;

    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.ct-winner {
        background-color: var(--ctcolor);
    }

    &.t-winner {
        background-color: var(--tcolor);
    }

    &.selected {
        background: rgb(0, 0, 55);
        background: linear-gradient(200deg, rgba(0, 0, 55, 1) 0%, rgba(255, 35, 80, 1) 100%);
    }
}

.round label {
    font-weight: 500;
    color: white;
    cursor: pointer;
    text-shadow: 1px 3px 4px rgb(0 0 0 / 45%);
}

/* width */
::-webkit-scrollbar {
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}