:root {
  --mainbackground: #31393c;
  --mainbackground-light: #31393c;
  --ctcolor: #2176ff;
  --ctcolor-light: #33a1fd;
  --tcolor: #f79824;
  --tcolor-light: #fdca40;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff  ;
}

body {
  margin: 0;
  height: 100vh;
}